@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #34353b;
    --secondary-color: rgb(32, 32, 32);
}

body {
    background-color: var(--primary-color);
    font-family: "Poppins", sans-serif;
    margin: 0;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    background-color: var(--secondary-color);
}

.search {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: #fff;
}

.search::placeholder {
    color: #7378c5;
}

.search:focus {
    outline: none;
    background-color: var(--primary-color);
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 300px;
    margin: 1rem;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin-top: 0;
}

.movie-info span {
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green {
    color: lightgreen;
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: red;
}

.overview {
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.movie:hover .overview {
    transform: translateY(0);
}

.btn {
    display: inline-block;
    font-size: 1.3rem;
    font-family: inherit;
    font-weight: 500;
    border: none;
    padding: 1.25rem 4.5rem;
    border-radius: 10rem;
    cursor: pointer;
    transition: all 0.3s;
    grid-column: 1 / span 2;
    justify-self: center;
    margin-top: 1rem;
    background-color: #7378c5;
    color: white;
    opacity: 0.3;
}

.account_btn {
    background-color: #7378c5;
    border-radius: 50px;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    margin-left: 1.5rem;

}

.nav__link--btn {
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 0.5rem 0.5rem;
}

.nav__link--btn:hover,
.nav__link--btn:active {
    color: inherit;
    background-color: var(--color-primary-darker);
    color: #333;
}

/* MODAL WINDOW */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60rem;
    background-color: #f3f3f3;
    padding: 5rem 6rem;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: all 0.5s;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 100;
    transition: all 0.5s;
}

.modal__header {
    font-size: 2em;
    margin-bottom: 4.5rem;
    line-height: 1.5;
}

.modal__form {
    margin: 0 3rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 2.5rem;
}


.modal__form label {
    font-size: 1rem;
    font-weight: 500;
}

.modal__form input {
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
}





.btn--close-modal {
    font-family: inherit;
    color: inherit;
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    font-size: 3rem;
    cursor: pointer;
    border: none;
    background: none;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

/* pop */
.pop {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60rem;
    background-color: #f3f3f3;
    padding: 5rem 6rem;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
    z-index: 2000;
    transition: all 0.5s;
}

.back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 200;
    transition: all 0.5s;
}

.clear_header {
    font-size: 2em;
    margin-bottom: 4.5rem;
    line-height: 1.5;
}

.btn--close-pop {
    font-family: inherit;
    color: inherit;
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    font-size: 3rem;
    cursor: pointer;
    border: none;
    background: none;
}

.clear {
    visibility: hidden;
    opacity: 0;
}